/* Untuk TEST REVOU - Muhammad Safaat */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    text-align: center;
    background-color: #0400ff; 
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}

h1 {
    margin-top: 2px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px; 
    background-color: #0398f4; 
}

h2 {
    margin-top: 22px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 8px; 
    background-color: #0398f4; 
}

h3 {
    margin-top: 120px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 8px; 
    background-color: #0703f4; 
}

h4{
    margin-top: -22px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 8px; 
    background-color: #f4e403; 
}

h5 {
    margin-top: -22px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 8px; 
    background-color: #6bc6ff; 
}

th{
    border-radius: 2px;
    border: 2px;
    background-color:#0398f4 ;
}

button{
    text-align: center;
    background-color: #0398f4;
    color: white;
    border: 2px;;
    border-radius: 8px;
    margin: 4px;
    padding: 7px;
    cursor: pointer;
}

nav p {
    text-align: center;
}

section {
    display: grid;
    place-items: center; /* shorthand for align-items: center; justify-content: center; */
    text-align: center; /* optional: to center-align text within the section */
}


section img {
    max-width: 20%; /* Optional: ensure the image does not exceed the container's width */
    height: auto; /* Optional: maintain the image's aspect ratio */
    border: none; /* Specify border style and color */
}

section h2 {
    background-color:#0398f4 ;
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}